/**
 * Style for calendar.php
 */
 div#calendar {
     width: 500px;
     border: 2px solid #FF931D;
     padding: 10px;
     border-radius: 10px;
     margin: auto;
     }
     
 img.landscape {
     width: 80px;
     padding: 1em;
     margin: auto;
     }
     
 table.month {
    width: 500px;
     text-align: center;
     border-collapse: collapse;
     }
     
div#calendar td {
     border: 1px solid #efc75e;
     padding: 0.5em;
     } 
  
 div#calendar td.blur {
     color: lightgray;
     }
     
 div#calendar td.today {
     border: 3px solid #FF931D;
     }

div#calendar td:nth-child(7){
    color: #e2574c;
    }
div#calendar td:nth-child(7).blur {
    color: lightgray;
    }
        
h3#landscape {
    text-align: center;
    font-size: 1.5em;
    } 